body {
  background-image: url('images/background-main-page.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-family: 'Times New Roman', Times, serif;
}

.hero-image {
  width: 100%;
  /* full bredd */
  height: 400px;
  object-fit: cover;
  /* täcker hela området utan att förvrängas */
  display: block;
  /* tar bort eventuella mellanrum runt bilden */
  opacity: 0.75;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #fff;
  opacity: 0.75;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #321147;
  padding-left: 20px;
  color: azure;
}

html,
body {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #321147;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  width: auto;
  height: auto;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #321147;
  color: azure;
}

.center {
  text-align: center;
}

.techrubric {
  text-align: center;
  color: azure;
  font-family: 'Courier New', Courier, monospace;
}

.techmain {
  display: flex;
  /* Aktiverar Flexbox */
  flex-wrap: wrap;
  /* Tillåter radbrytning */
  height: 100px;
  text-align: center;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post1,
.post2,
.post3,
.post4,
.post5,
.post6 {
  width: 30%;
  background: #fff;
  opacity: 0.75;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {

  .post1,
  .post2,
  .post3,
  .post4,
  .post5,
  .post6 {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {

  .post1,
  .post2,
  .post3,
  .post4,
  .post5,
  .post6 {
    width: 100%;
    /* Alla element i en kolumn */
  }
}

.post img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.post h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.post p {
  margin: 5px 0;
}